*{
    margin: 0;
    padding: 0;
    font-family: 'Volkhov', serif;
}
.container{
    max-width: 1200px;
}
.header{
    display: inline-block;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: all .5s;
    line-height: .5;
}


.header .container{
    padding-top:13px ;
    background-color: transparent;
    height: 90px;
    align-items: center;
    transition: all 0.4s ease 0s;
    line-height: 0.5;
}
.header.nav-fixed {
    padding: 0px;
    width: 100%;
    border-bottom: none;
    z-index: 99 !important;
    background-color: var(--bg-color);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.06);
    height: 70px;
    color: #fff;
}


.header .container .container-fluid .navbar-brand{
    font-size: 32px;
    color: #fb811e;
    position: relative;
    padding: 0px;
}
.header .container .container-fluid .navbar-brand:hover{
    color:#000 !important;
    transition: all 0.5s;
}
.header .container .container-fluid .navbar-brand i{
    font-size: 20px;
    position: absolute;
    top: -25px;
    left: 55px;
    margin-top: 10px;
}
.navbar-color {
    padding: 0px;
    border-bottom: none;
    z-index: 99 !important;
    background-color:#fff !important;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
    height: 70px;
    align-items: center;
}
.navbar-color a {
    color: #000 !important;
}
.navbar-light .navbar-nav .nav-link{
    color: #fff ;
}
/* SLIDER */
.slider .slider-row{
    display: flex;
    justify-content: space-between;
}
.slider .content .slider-col-l{
    width: 40%;
    padding-top: 150px;
    margin-left: 185px;
}
.slider .content .slider-col-l .slider-item h4{
    font-size: 24px;
    font-weight: bold;
}
.slider .content .slider-col-l .slider-item a{
    text-decoration: none;
    font-family: sans-serif;
    color: #707070;
    font-size: 15px;
    font-weight: bold;
}
.slider .content .slider-col-l .slider-item span{
    font-size: 15px;
    font-family: sans-serif;
    color: #707070;
}
.slider .content .slider-col-r{
    width: 75%;
    margin-top: -220px;
}
.slider .content .slider-col-r img{
    display: inline-block;
    margin-top:-560px;
    border-radius: 0 0 0 8px;
}
/* WELCOME */
.welcome{
    margin-top: 100px;
}
.welcome .container .welcome-row{
    display: flex;
    justify-content:space-between;
    gap: 30px;
}
.welcome .container .welcome-row .welcome-col-l{
    width: 50%;
}
.welcome .container .welcome-row .welcome-col-r{
    width: 50%;
}
.welcome .container .welcome-row .welcome-col-l h5{
    font-size: 22px;
    color: #fb811e;
}
.welcome .container .welcome-row .welcome-col-l h3{
    font-size:40px;
    color: #060606;
    font-weight: 700;
    line-height: 50px;
    padding-bottom: 10px;
}
.welcome .container .welcome-row .welcome-col-l p{
    font-size: 17px;
    color: #707070;
    font-family: sans-serif;
    padding-right: 48px;
}
.welcome .container .welcome-row .welcome-col-l .welcome-item .button{
    color: #fff;
    font-size: 16px;
    background-color:#fb811e;
    padding: 15px 30px;
    border-radius: 30px;
    border: 1px solid #fb811e;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
}
.welcome .container .welcome-row .welcome-col-l .welcome-item .button:hover{
    background-color:#009f4d;
    border: 1px solid #009f4d;
    transition: all .5s;
}
.welcome .container .welcome-row .welcome-col-r img{
    border-radius: 8px;
}
/* STATISTIC */
.statistic{
    margin-top: 170px;
}
.statistic .statistic-row{
    display: flex;
    justify-content: space-around;
}
.statistic .statistic-row .statistic-col{
    text-align: center;
}
.statistic .statistic-row .statistic-col .statistic-item i{
    font-size: 30px;
    color: #009f4d;
    margin-bottom: 55px;
}
.statistic .statistic-row .statistic-col .statistic-item h4{
    font-size: 43px;
    font-family: sans-serif;
    font-weight: 600;
}
.statistic .statistic-row .statistic-col .statistic-item p{
    font-family: sans-serif;
}
/* OURTEAM */
.ourteam{
    background: #009f4d;
    padding-bottom: 90px;
}
.ourteam .ourteam-row{  
    padding-top: 98px;
}
.ourteam .content-top{
    display: flex;
    justify-content: space-between;
}
.ourteam .content-top .content-l{
    width: 40%;
}
.ourteam .content-top .content-r{
    width: 50%;
    padding-left: 30px;
}
.ourteam .content-top .content-l h5{
    font-size: 22px;
    color: #fff;
}
.ourteam .content-top .content-l h3{
    font-size: 40px;
    color: #fff;
    font-weight: 700;
    line-height: 50px;
    padding-bottom: 10px;
}
.ourteam .content-top .content-r p{
    color: #fff;
    font-size: 20px;
    margin-top: 25px;
    font-family: sans-serif;
}
.ourteam .ourteam-main h4{
    position: absolute;
    color: #fff;
    font-weight: bold;
    z-index: 0;
    opacity: .14;
    font-size: 12vw;
    right: 50%;
    margin-top: -300px;
    transform: translate(-10%, 50%);
}
.ourteam .content-bottom{
    margin-top:50px ;
    display: flex;
    gap: 30px;
}
.ourteam .content-bottom .bottom-item{
    background-color: #fff;
    text-align: center;
    border-radius: 8px;
}
.ourteam .content-bottom .bottom-col img{
    /* padding: 15px; */
    border-radius: 10px;
}
.ourteam .content-bottom .bottom-col h5 a{
    text-decoration: none;
    color: #060606;
    font-weight: 600;
}
.ourteam .content-bottom .bottom-col span{
    font-size: 14px;
    display:inline-block ;
    font-family: sans-serif;
    color: #404040;
    margin-bottom: 20px;
}
.ourteam .content-bottom .item-banner {
    position: relative;
    display: inline-block;
    margin: 15px;
}

.ourteam .content-bottom .item-banner .hover {  
    background-color: rgb(8 8 8 / 54%);
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: space-between;
    padding:15px;
}
.ourteam .content-bottom .item-banner:hover .hover {
    visibility: visible;
}
.ourteam .content-bottom .item-banner .hover {
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
}
.ourteam .content-bottom .item-banner .hover .desk{
    margin-top:20% ;
}

.ourteam .content-bottom .item-banner .hover .desk a{
    text-decoration: none;
    color: #fff;
}
.ourteam .content-bottom .item-banner .hover .desk p{
    font-family: sans-serif;
}
.ourteam .content-bottom .item-banner .hover .link i {
    color: #fff;    
    margin: 10px 10px;
}
.ourteam .content-bottom .item-banner:hover .hover .desk{
    animation: animation1 0.5s 1;
    transition: all 0.5ms;
} 
.ourteam .content-bottom .item-banner:hover .hover .link{
    animation: animation2 0.5s 1;
}
@keyframes animation1 {
    0%{
        transform: translateY(-100%);
        opacity: 0;
    } 100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes animation2{
    0%{
        transform: translateY(100%);
        opacity: 0;
    } 100%{
        transform: translateY(0);
        opacity: 1;
    }
}
/* PROVIDE*/
.provide{
    margin-top: 100px;
}
.provide .container .provide-main{
    margin: 0 120px;
}
.provide h3{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.provide p{
    font-family: sans-serif;
    font-size: 17px;
    text-align: center;
    padding: 0 30px;
}
.provide .video{
    position: relative;
}
.provide .video img{
    border-radius: 8px;
}
.provide .video a{
    position: absolute;
    z-index: 1;
    top: 42%;
    left: 47%;
    color: #fb811e;
    background-color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
}
/*TESTIMONIAL */
.testimonial{
    margin-top: 120px;
    background-image: url(https://wp.w3layouts.com/farmstead/wp-content/themes/farmstead/assets/images/bg1.jpg);
    height: 515px;
    padding-top: 80px;
    position: relative;
    z-index: 1;
}
.testimonial::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(10 10 10 / 52%);
    z-index: -1;
    top: 0;
}
.testimonial .container{
    margin-top: 60px;
}
.testimonial .container .testimonial-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left:60px ;
}
.testimonial .container .testimonial-row .testimonial-col-l{
    width: 30%;
    margin-top: 50px;
}
.testimonial .container .testimonial-row .testimonial-col-r{
    width: 70%;
}
.testimonial .container .testimonial-row .testimonial-col-l .testimonial-item{
    text-align: center;
}
.testimonial .container .testimonial-row .testimonial-col-l img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.testimonial .container .testimonial-row .testimonial-col-l .testimonial-item h3{
    font-size: 20px;
    padding-top: 15px;
    color: #fff;
    font-weight: 600;
}
.testimonial .container .testimonial-row .testimonial-col-l .testimonial-item p{
    color: #fff;
    font-family: sans-serif;
}
.testimonial .container .testimonial-row .testimonial-col-r{
    margin-top: 25px;
}
.testimonial .container .testimonial-row .testimonial-col-r .testimonial-item{
    padding: 0 40px;
}
.testimonial .container .testimonial-row .testimonial-col-r .testimonial-item i{
    font-size: 25px;
    color: #fb811e;
}
.testimonial .container .testimonial-row .testimonial-col-r .testimonial-item q{
    font-size: 22px;
    font-family: sans-serif;
    color: #fff;
    line-height: 2;
}
/* FOOTER */
footer {
    margin: 60px;
    position: relative;
}
footer .container .footer-row{
    display: flex;
    justify-content: space-around;
    gap: 40px;
}
footer .container .footer-row .footer-col{
    width: 33%;
}
footer .container .footer-row .col-1 h3{ 
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 30px;
    font-weight: 600;
    color: #000;
}
footer .container .footer-row .col-1 p{
    color: #707070;
    font-size: 17px;
    font-family: sans-serif;
}
footer .container .footer-row .col-2 .navbar-brand{
    font-size: 32px;
    color: #fb811e;
    position: relative;
    display: inline-block;
    margin-top: -15px;
    margin-bottom: 10px;
}
footer .container .footer-row .col-2 .navbar-brand:hover{
    color: #000;
    transition: all 0.8s;
}
footer .container .footer-row .col-2 .navbar-brand i{
    font-size: 20px;
    position: absolute;
    top: -6px;
    left: 55px;
    margin-top: 10px;
}
footer .container .footer-row .col-2 p{
    color: #707070;
    font-size: 17px;
    font-family: sans-serif;
}
footer .container .footer-row .col-3 h3{
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 30px;
    font-weight: 600;
    color: #000;
}
footer .container .footer-row .col-3 p{
    color: #707070;
    font-size: 17px;
    font-family: sans-serif;
}
footer .container .footer-row .col-3 .form{
    display: flex;
}
footer .container .footer-row .col-3 input{
    background-color: #f4f4f4;
    padding: 12px 20px;
    font-size: 16px;
    outline: none;
    width: 80%;
    color: #707070;
    border: 1px solid #eee; 
    font-family: sans-serif;
    border-radius: 30px 0px 0px 30px;
}
footer .container .footer-row .col-3 .form button{
    padding: 0 25px;
    border-radius: 0 25px 25px 0;
    border: 1px solid #009f4d;
    background-color: #009f4d;
}
footer .container .footer-row .col-3 .form button:hover{
    opacity: .8;
    transition: all .7s;
}
footer .container .footer-row .col-3 .form button i{
    color: #fff;
}
footer .container .footer-row .col-3 .icon{
    margin-top: 30px;
}
footer .container .footer-row .col-3 .icon a{
    text-decoration: none;
    background-color: #ecfaf2;
    margin: 0 13px;
}
footer .container .footer-row .col-3 .icon a i{
    color: #009f4d;
}
.backToTop{
    padding: 5px 10px;
    background-color: #009f4d;
    border: 1px solid #009f4d;
    position: fixed;
    bottom: 90px;
    right: 15px;
    z-index: 1;
}
.backToTop i{
    color: #fff;
}
/* tablet */
@media screen and (min-width:921px) {
    .header{
        position: fixed;
        top: 0;
        left: 0;
        width: 1170px;
        }
        .slider .content .slider-col-r img {
           margin-top: -180px;
            padding: 0;
        }
}

/* điện thoại màng hình ngang */
@media screen and (min-width:578px) and (max-width:920px) { 
    .container{
        padding:0 80px;
    } 
    .header{
        max-width: auto;
        position:fixed;
        padding: 0 200px;
        }  
        .slider .content .slider-col-l{
            margin-left: 10px;
            margin-top:-30px ;
            width: 40%;
        }
        .slider .content .slider-col-r{
            width: 60%;
            margin: 0;
        }
        .slider .content .slider-col-r img {
            margin: 0;
            padding: 0;
        }
        .slider .content .slider-col-l .slider-item h4{
            font-size: 21.5712px;
        }
        .slider .content .slider-col-l .slider-item span{
            font-size: 15px;
        }
        .slider .content .slider-col-l .slider-item a{
            font-size: 15px;
        }
        .slider .content .slider-col-l{
            margin-left: 90px;
            margin-top:-30px ;
            width: 40%;
        }
        .slider .content .slider-col-r img {
           margin-top: -170px;
        }
        .welcome{
            margin-top: 50px;
        }
        .welcome .container .welcome-row{
            display: block;
        }
        .welcome .container .welcome-row .welcome-col-l{
            width: 100%;
        }
        .welcome .container .welcome-row .welcome-col-l p{
            padding: 0;
        }
        .welcome .container .welcome-row .welcome-col-l .welcome-item .button{
            margin-bottom: 35px;
        }
        .welcome .container .welcome-row .welcome-col-r{
            width: 100%;
        }
        .welcome .container .welcome-row .welcome-col-r img{
            width: 100%;
        }
        .welcome .container .welcome-row .welcome-col-r img{
            margin-top: 0;
        }
        .statistic .statistic-row .statistic-col .statistic-item i{
            font-size: 27px;
        }
        .statistic .statistic-row .statistic-col .statistic-item h4{
            font-size: 40px;
        }
        .statistic .statistic-row .statistic-col .statistic-item p{
            font-size: 17px;
        }
        .ourteam .content-top .content-l h5{
            font-size: 20px;
        }
        .ourteam .content-top .content-l h3{
            font-size: 30px;
        }
        .ourteam .content-top .content-r p{
            font-size: 18px;
        }
        .ourteam .content-top .content-r{
            padding: 0;
        }
        .ourteam .content-bottom{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .ourteam .content-bottom .col3{
            transform: translateX(55%);
        }
        .provide .container .provide-main{
            margin: 0;
        }
        .provide h3{
            font-size: 30px;
        }
        .testimonial .container .testimonial-row .testimonial-col-l{
            margin-left: -50px;
            margin-top: -20px;
            width: 20%;
        }
        .testimonial .container .testimonial-row .testimonial-col-r{
            margin-top: -50px;
            width: 80%;
        }
        .testimonial .container .testimonial-row .testimonial-col-l img{
            height: 80px;
            width: 80px;
        }
        .testimonial .container .testimonial-row .testimonial-col-r .testimonial-item q{
            font-size: 18px;
        }
        footer .container .footer-row{
            display: block;
            margin-left: -60px;
        }
        footer .container .footer-row .footer-col{
            width: 100%;
        }
        footer .container .footer-row .col-1 h3{
            font-size: 16px;
        }
        .backToTop{
            right:10px;
        }
}
/* điện thoại mà hình dọc */
@media screen and (max-width:576px){
    .header{
        max-width: 400px;
        position:fixed;
        }  
        .slider .content .slider-col-l{
            margin-left: 10px;
            margin-top:-30px ;
            width: 40%;
        }
        .slider .content .slider-col-r{
            width: 60%;
            margin: 0%;
        }
        .slider .content .slider-col-r img {
            margin: 0;
            padding: 0;
        }
        .slider .content .slider-col-l .slider-item h4{
            font-size: 21.5712px;
        }
        .slider .content .slider-col-l .slider-item span{
            font-size: 15px;
        }
        .slider .content .slider-col-l .slider-item a{
            font-size: 15px;
        }
        .welcome .container .welcome-row{
            display:block;
            margin: 15px;
        }
        .welcome .container .welcome-row .welcome-col-l{
            width: 100%;
        }
        .welcome .container .welcome-row .welcome-col-l p{
            padding: 0;
        }
        .welcome .container .welcome-row .welcome-col-l h5{
            font-size: 18px;
        }
        .welcome .container .welcome-row .welcome-col-l h3{
            font-size: 30px;
        }
        .welcome .container .welcome-row .welcome-col-l .welcome-item .button{
            margin-bottom: 20px;
        }
        .welcome .container .welcome-row .welcome-col-r{
            width: 100%;
        }
        .statistic .statistic-row{
            flex-wrap: wrap;
            gap: 60px 0;
        }
        .statistic .statistic-row .statistic-col{
            width: 50%;
        }
        .statistic .statistic-row .statistic-col .statistic-item i{
            font-size: 27px;
        }
        .statistic .statistic-row .statistic-col .statistic-item h4{
            font-size: 32px;
        }
        .statistic .statistic-row .statistic-col .statistic-item p{
            font-size: 16px;
        }
        .ourteam .content-top{
            display: block;
        }
        .ourteam .content-top .content-l{
            width: 100%;
        }
        .ourteam .content-top .content-r{
            width: 100%;
        }
        .ourteam .content-bottom{
            display: block;
        }
        .ourteam .content-bottom .bottom-item{
            margin: 20px 0;
        }
        .provide .container .provide-main{
            margin: 0 ;
        }
        .provide h3{
            font-size: 30px;
        }
        .provide p{
            text-align: center;
        }
        .testimonial {
            height: 700px;
        }
        .testimonial .container .testimonial-row{
            display: block;
        }
        .testimonial .container .testimonial-row .testimonial-col-l{
            width: 100%;
            margin-top:-35px ;
            margin-left: -20px;
        }
        .testimonial .container .testimonial-row .testimonial-col-l img{
            height: 80px;
            width: 80px;
        }
        .testimonial .container .testimonial-row
        .testimonial-col-l .testimonial-item h3{
            font-size: 18px;
        }
        .testimonial .container .testimonial-row .testimonial-col-r{
            width: 100%;
            text-align: center;
            margin-left: -20px;
        }
        .testimonial .container .testimonial-row .testimonial-col-r .testimonial-item{
            padding: 0;
            width: 100%;
        }
        .testimonial .container .testimonial-row .testimonial-col-r .testimonial-item q{
            font-size: 17px;
        }
        footer .container .footer-row{
            display: block;
            margin-left: -60px;
        }
        footer .container .footer-row .footer-col{
            width: 100%;
        }
        footer .container .footer-row .col-1 h3{
            font-size: 16px;
        }
        .backToTop{
            right:10px;
        }
}