*{
    margin: 0;
    padding: 0;
    font-family: 'Volkhov', serif;
}
.container{
    max-width: 1200px;
}
.header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    line-height: .5;
}

.header .container{
    padding-top:13px ;
    background-color: transparent;
    height: 90px;
    align-items: center;
    transition: all 0.4s ease 0s;
}
.header.nav-fixed {
    padding: 0px;
    border-bottom: none;
    z-index: 99 !important;
    background-color: var(--bg-color);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.06);
    height: 70px;
    width: 100%;
}

.header .container .container-fluid .navbar-brand{
    font-size: 32px;
    color: #fb811e;
    position: relative;
    padding: 0px;
}
.header .container .container-fluid .navbar-brand:hover{
    color:#000 !important;
    transition: all 0.5s;
}
.header .container .container-fluid .navbar-brand i{
    font-size: 20px;
    position: absolute;
    top: -25px;
    left: 55px;
    margin-top: 10px;
}

.navbar-color {
    padding: 0px;
    border-bottom: none;
    z-index: 99 !important;
    background-color:#fff !important;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
    height: 70px;
    align-items: center;
}
.navbar-color a {
    color: #000 !important;
}
.navbar-light .navbar-nav .nav-link{
    color: #fff ;
}
/* SLIDER */
.slider .slider-row{
    display: flex;
    justify-content: space-between;
}
.slider .content .slider-col-l{
    width: 40%;
    padding-top: 150px;
    margin-left: 185px;
}
.slider .content .slider-col-l .slider-item h4{
    font-size: 24px;
    font-weight: bold;
}
.slider .content .slider-col-l .slider-item a{
    text-decoration: none;
    font-family: sans-serif;
    color: #707070;
    font-size: 15px;
    font-weight: bold;
}
.slider .content .slider-col-l .slider-item span{
    font-size: 15px;
    font-family: sans-serif;
    color: #707070;
}
.slider .content .slider-col-r{
    width: 75%;
    margin-top: -200px;
}
.slider .content .slider-col-r img{
    margin-top: -520px;
    border-radius: 0 0 0 8px;
}
/* PRODUCTS */
.products {
    margin-top: 140px;
}
.products .products-row{
    padding: 0 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 70px 20px;
}
.products .products-item i{
    font-size: 45px;
    color: #fb811e;
    margin-bottom: 25px;
}
.products .products-item a{
    padding: 0 5px;
    text-decoration: none;
    color: #060606;
    font-size: 22px;
    font-weight: bold;
}

.products .products-item a:hover{
    color: #fb811e;
    transition: all 0.5s;
}
.products .products-item p{
    padding: 0 5px;
    font-size: 17px;
    font-family: sans-serif;
    color: #707070;
}
.products .products-item{
    padding: 40px 30px;
    border-radius: 15px;
}
.products .products-item:hover
{
    transition: .3s;
    box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.1);
}
/* QUALITY */
.quality{
    margin-top: 100px;
}
.quality .quality-row{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.quality .quality-row .quality-col-r{
    width:50%;
    margin-top: 40px;
    margin-left: 60px;
}
.quality .quality-row .quality-col-l{
    width: 50%;
}
.quality .quality-col-r h5{
    font-size: 22px;
    color: #fb811e;
}
.quality .quality-col-r h3{
    font-size: 40px;
    line-height: 60px;
    font-weight: 700;
}
.quality .quality-col-r .quality-item p{
    font-family: sans-serif;
    color: #707070;
    margin-bottom: 25px;
}
.quality .quality-col-r .quality-item .content-bottom {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 70px;
}
.quality .quality-col-r .quality-item .content-bottom .quality-item-l{
    width: 50%;
}
.quality .quality-col-r .quality-item .content-bottom .quality-item-r{
    width: 50%;
}
.quality .quality-col-r .quality-item .content-bottom .quality-item-l span{
    font-size: 24px;
    font-weight: 600;
}
.quality .quality-col-r .quality-item .content-bottom .quality-item-r span{
    font-size: 24px;
    font-weight: 600;
}
.quality .quality-col-r .quality-item .content-bottom .quality-item-l i{
    font-size: 30px;
    color: #fb811e;
}
.quality .quality-col-r .quality-item .content-bottom .quality-item-r i{
    font-size: 30px;
    color: #fb811e;
}
.quality .quality-col-r .quality-item .content-bottom .quality-item-l p{
    padding-left: 40px;
}
.quality .quality-col-r .quality-item .content-bottom .quality-item-r p{
    padding-left: 40px;
}
.quality .quality-col-l img{
    border-radius: 30px;
    height: 457px;
}
/* STATISTIC */
.statistic{
    margin-top: 170px;
}
.statistic .statistic-row{
    display: flex;
    justify-content: space-around;
}
.statistic .statistic-row .statistic-col{
    text-align: center;
}
.statistic .statistic-row .statistic-col .statistic-item i{
    font-size: 30px;
    color: #009f4d;
    margin-bottom: 55px;
}
.statistic .statistic-row .statistic-col .statistic-item h4{
    font-size: 43px;
    font-family: sans-serif;
    font-weight: 600;
}
.statistic .statistic-row .statistic-col .statistic-item p{
    font-family: sans-serif;
}
/*agriculture*/
.agriculture{
    margin-top: 120px;
    background: url(https://wp.w3layouts.com/farmstead/wp-content/themes/farmstead/assets/images/bg2.jpg);
    height: 515px;
    padding-top: 80px;
    position: relative;
    z-index: 1;
}
.agriculture::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(10 10 10 / 52%);
    z-index: -1;
    top: 0;
}
.agriculture .content{
    display: inline-block;
    margin-top: 100px;
    z-index: 1;
    color: #fff;
}
.agriculture .content h5{
    font-size: 23px;
}
.agriculture .content h3{
    font-size: 40px;
}
.agriculture .content a button{
    color: #fff;
    font-size: 50px;
    background-color: #fb811e;
    padding: 15px 30px;
    border-radius: 30px;
    border: 1px solid #fb811e;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
}
.agriculture .content a:hover button{
    background:#009f4d;
    border: 1px solid #009f4d;
    transition: all 0.7s;
}
/* FOOTER */
footer {
    margin: 60px;
    position: relative;
}
footer .container .footer-row{
    display: flex;
    justify-content: space-around;
    gap: 40px;
}
footer .container .footer-row .footer-col{
    width: 33%;
}
footer .container .footer-row .col-1 h3{ 
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 30px;
    font-weight: 600;
    color: #000;
}
footer .container .footer-row .col-1 p{
    color: #707070;
    font-size: 17px;
    font-family: sans-serif;
}
footer .container .footer-row .col-2 .navbar-brand{
    font-size: 32px;
    color: #fb811e;
    position: relative;
    display: inline-block;
    margin-top: -15px;
    margin-bottom: 10px;
}
footer .container .footer-row .col-2 .navbar-brand:hover{
    color: #000;
    transition: all 0.8s;
}
footer .container .footer-row .col-2 .navbar-brand i{
    font-size: 20px;
    position: absolute;
    top: -6px;
    left: 55px;
    margin-top: 10px;
}
footer .container .footer-row .col-2 p{
    color: #707070;
    font-size: 17px;
    font-family: sans-serif;
}
footer .container .footer-row .col-3 h3{
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 30px;
    font-weight: 600;
    color: #000;
}
footer .container .footer-row .col-3 p{
    color: #707070;
    font-size: 17px;
    font-family: sans-serif;
}
footer .container .footer-row .col-3 .form{
    display: flex;
}
footer .container .footer-row .col-3 input{
    background-color: #f4f4f4;
    padding: 12px 20px;
    font-size: 16px;
    outline: none;
    width: 80%;
    color: #707070;
    border: 1px solid #eee; 
    font-family: sans-serif;
    border-radius: 30px 0px 0px 30px;
}
footer .container .footer-row .col-3 .form button{
    padding: 0 25px;
    border-radius: 0 25px 25px 0;
    border: 1px solid #009f4d;
    background-color: #009f4d;
}
footer .container .footer-row .col-3 .form button:hover{
    opacity: .8;
    transition: all .7s;
}
footer .container .footer-row .col-3 .form button i{
    color: #fff;
}
footer .container .footer-row .col-3 .icon{
    margin-top: 30px;
}
footer .container .footer-row .col-3 .icon a{
    text-decoration: none;
    background-color: #ecfaf2;
    margin: 0 13px;
}
footer .container .footer-row .col-3 .icon a i{
    color: #009f4d;
}
.backToTop{
    padding: 5px 10px;
    background-color: #009f4d;
    border: 1px solid #009f4d;
    position: fixed;
    bottom: 90px;
    right: 15px;
    z-index: 1;
}
.backToTop i{
    color: #fff;
}
/* tablet */
@media screen and (min-width:921px) {
    .header{
        position: fixed;
        top: 0;
        left: 0;
        width: 1170px;
        }
        .slider .content .slider-col-r img {
           margin-top: -180px;
            padding: 0;
        }
}

/* điện thoại chiều ngang */
@media screen and (min-width:578px) and (max-width:920px) { 
    .container{
        padding:0 80px;
    } 
    .header{
        max-width: auto;
        position:fixed;
        padding: 0 200px;
        }  
        .slider .content .slider-col-l{
            margin-left: 10px;
            margin-top:-30px ;
            width: 40%;
        }
        .slider .content .slider-col-r{
            width: 60%;
            margin: 0;
        }
        .slider .content .slider-col-r img {
            margin: 0;
            padding: 0;
        }
        .slider .content .slider-col-l .slider-item h4{
            font-size: 21.5712px;
        }
        .slider .content .slider-col-l .slider-item span{
            font-size: 15px;
        }
        .slider .content .slider-col-l .slider-item a{
            font-size: 15px;
        }
        .slider .content .slider-col-l{
            margin-left: 90px;
            margin-top:-30px ;
            width: 40%;
        }
        .slider .content .slider-col-r img {
           margin-top: -170px;
        }
        .products .products-row {
            grid-template-columns: 1fr 1fr;
            padding: 0;
        }
        .quality .quality-row{
            display: block;
         }
         .quality .quality-row .quality-col-r{
             margin: 0;
             width: 100%;
         }
         .quality .quality-row .quality-col-l{
            width: 100%;
         }
         .quality .quality-col-l img{
            width: 100%;
         }
         .statistic .statistic-row .statistic-col .statistic-item i{
            font-size: 27px;
        }
        .statistic .statistic-row .statistic-col .statistic-item h4{
            font-size: 40px;
        }
        .statistic .statistic-row .statistic-col .statistic-item p{
            font-size: 16px;
        }
        .agriculture{
            height: 350px;
        }
        .agriculture .content h5{
            font-size: 20px;
        }
        .agriculture .content h3{
            font-size: 30px;
        }
        .agriculture .content{
            margin: 0;
            padding-right: 400px;
        }
        footer .container .footer-row{
            display: block;
            margin-left: -60px;
        }
        footer .container .footer-row .footer-col{
            width: 100%;
        }
        footer .container .footer-row .col-1 h3{
            font-size: 16px;
        }
        .backToTop{
            right:10px;
        }
}
/* điện thoại chiều dọc */
@media screen and (max-width:576px){
.header{
    max-width: 400px;
    position:fixed;
    }  
    .slider .content .slider-col-l{
        margin-left: 10px;
        margin-top:-30px ;
        width: 40%;
    }
    .slider .content .slider-col-r{
        width: 60%;
        margin:0;
    }
    .slider .content .slider-col-r img {
        margin: 0;
        padding: 0;
    }
    .slider .content .slider-col-l .slider-item h4{
        font-size: 21.5712px;
    }
    .slider .content .slider-col-l .slider-item span{
        font-size: 15px;
    }
    .slider .content .slider-col-l .slider-item a{
        font-size: 15px;
    }
    .products .products-row{
        grid-template-columns: 1fr;
        padding: 0;
    }
    .quality .quality-row{
       display: block;
    }
    .quality .quality-row .quality-col-r{
        margin: 0;
        width: 100%;
    }
    .quality .quality-col-r .quality-item .content-bottom{
        display: block;
    }
    .quality .quality-col-r .quality-item .content-bottom .quality-item-l{
        width: 100%;
    }
    .quality .quality-col-r .quality-item .content-bottom .quality-item-r{
        width: 100%;
    }
    .quality .quality-row .quality-col-l{
        width: 100%;
    }
    .statistic .statistic-row{
        flex-wrap: wrap;
        gap: 60px 0;
    }
    .statistic .statistic-row .statistic-col{
        width: 50%;
    }
    .statistic .statistic-row .statistic-col .statistic-item i{
        font-size: 27px;
    }
    .statistic .statistic-row .statistic-col .statistic-item h4{
        font-size: 32px;
    }
    .statistic .statistic-row .statistic-col .statistic-item p{
        font-size: 16px;
    }
    .agriculture .content{
        margin:0px;
    }
    .agriculture .content h5{
        font-size: 18px;
    }
    .agriculture .content h3{
        font-size: 30px;
    }
    .agriculture{
            height: 350px;
    }
    footer .container .footer-row{
        display: block;
        margin-left: -60px;
    }
    footer .container .footer-row .footer-col{
        width: 100%;
    }
    footer .container .footer-row .col-1 h3{
        font-size: 16px;
    }
    .backToTop{
        right:10px;
    } 
}