*{
    margin: 0;
    padding: 0;
    font-family: 'Volkhov', serif;
}
.container{
    max-width: 1200px;
}
.header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

}

.header .container{
    padding-top:13px ;
    background-color: transparent;
    height: 90px;
    align-items: center;
    transition: all 0.4s ease 0s;
}
.header.nav-fixed {
    padding: 0px;
    border-bottom: none;
    z-index: 99 !important;
    background-color: var(--bg-color);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.06);
    height: 70px;
}

.header .container .container-fluid .navbar-brand{
    font-size: 32px;
    color: #fb811e;
    position: relative;
    padding: 0px;
}
.header .container .container-fluid .navbar-brand i{
    font-size: 20px;
    position: absolute;
    top: -10px;
    left: 55px;
    margin-top: 10px;
}

/* SLIDER */
.slider .container .row{
    display: flex !important;
    flex-wrap: wrap;

}
.slider .col-l{
    position: absolute;
    left: 120px;
    z-index: 1;
    width: 50%;
}
.slider .col-r{
    margin-left: auto !important;
    width: 58%; 
}
.slider .content .col-l h2{
    font-size: 120px;
    font-weight: 700;
    opacity: 0.08;
    margin-top: 130px;
    justify-content: center !important;
}
.slider .content .col-l h3{
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
}
.slider .content .col-l .item-l{
     margin-top: -90px; 
    padding-top: 20px;
    margin-left: 60px;
    padding-right: 20px;
}
.slider .content .col-l .item-l p{
     font-size: 20px; 
    color: #404040;
    font-weight: normal;
    font-family: sans-serif;
}
.slider .content .col-l .item-l button{
    color: #fff;
    font-size: 16px;
    background-color:#fb811e;
    padding: 15px 30px;
    border-radius: 30px;
    border: 1px solid #fb811e;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-top: 30px;
}
.slider .content .col-l .item-l button:hover{
    background-color:#009f4d;
    border: 1px solid #009f4d ;
    transition: all .5s;
}
.slider .content .col-r img{
    border-radius: 0 0 0 20px;
    width: 100%;
    height: 750px;
}
.slider .content .col-r .carousel-item{
    position: relative;
}
.slider .content .col-r .carousel-caption{
   position: absolute;
   bottom: 0;
   right: 0; 
}
.slider .content .col-r .carousel-caption h4 , .slider .container .col-r .carousel-caption p{
    text-align: right;
    margin-right: 20px;
}
.slider .content .col-r .carousel-caption h4{
    font-size: 24px;
    margin-right: 30px;
    justify-content: flex-end;
}
.slider .content .col-r .carousel-caption p{
    font-size: 17px;
    text-align: right;
    margin-right: 15px;
    font-family: sans-serif;
}
.slider .carousel-indicators button{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:#fb811e;
}
.slider .content .col-r .carousel-item::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background:rgb(0 0 0 / 17%);
    z-index: 1;
    top: 0;
    border-radius: 0 0 0 30px;
}
/* GROW */
.grow{
    margin-top: 130px;
}
.grow .container .grow-row{
    display: flex;
    justify-content:space-between;
}
.grow .container .grow-row .grow-col-l{
    width: 50%;
    padding-top: 60px;
}
.grow .container .grow-row .grow-col-r{
    width: 50%;
    display: grid;
    gap:20px;
    grid-template-columns: 1fr 1fr;
}
.grow .container .grow-row .grow-col-l h5{
    font-size: 22px;
    color: #fb811e;
}
.grow .container .grow-row .grow-col-l h3{
    font-size:40px;
    color: #060606;
    font-weight: 700;
    line-height: 50px;
    padding-bottom: 10px;
}
.grow .container .grow-row .grow-col-l p{
    font-size: 17px;
    color: #707070;
    font-family: sans-serif;
    padding-right: 48px;
}
.grow .container .grow-row .grow-col-l .grow-item .button{
    color: #fff;
    font-size: 16px;
    background-color:#fb811e;
    padding: 15px 30px;
    border-radius: 30px;
    border: 1px solid #fb811e;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-top: 30px;
}
.grow .container .grow-row .grow-col-l .grow-item .button:hover{
    background-color:#009f4d;
    border: 1px solid #009f4d;
    transition: all .5s;
}
.grow .container .grow-row .grow-col-r .icon img{
    max-width: 65px;
    display: block;
    margin: 0 auto;
}
.grow .grow-item-r h4 a{
   text-decoration: none;
   font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    margin-top: 25px;
    display: block;
    color: var(--heading-color);
    text-align: center;
}
.grow .grow-item-r h4 a:hover{
    color: #009f4d;
    transition: all 0.6s;
}
.grow .container .grow-row .grow-col-r .grow-item-r{
    padding: 40px 30px;
    box-shadow: 0 16px 48px rgb(0 0 0 / 3%);
    background-color: #fff;
    border-radius: 30px;
}
.grow .container .grow-row .grow-col-r .grow-item-r:hover{
    transition: .3s;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}
/* QUALITY */
.introduce{
    background: #009f4d;
}
.introduce .introduce-row{
    padding-top: 98px;
}
.introduce .content-top{
    display: flex;
    justify-content: space-between;
}
.introduce .content-top .content-l{
    width: 50%;
}
.introduce .content-top .content-r{
    width: 50%;
    padding-left: 30px;
}
.introduce .content-top .content-l h5{
    font-size: 22px;
    color: #fff;
}
.introduce .content-top .content-l h3{
    font-size: 40px;
    color: #fff;
    font-weight: 700;
    line-height: 50px;
    padding-bottom: 10px;
}
.introduce .content-top .content-r p{
    color: #fff;
    font-size: 20px;
    margin-top: 25px;
    font-family: sans-serif;
}
.introduce .introduce-main h4{
    position: absolute;
    color: #fff;
    font-weight: bold;
    z-index: 0;
    opacity: .14;
    font-size: 12vw;
    right: 50%;
    margin-top: -300px;
    transform: translate(50%, 50%);
}

.introduce .content-bottom .introduce-col .introduce-item img{
    width: 450px;
}
.introduce .content-bottom .bottom-row {
    display: flex;
    justify-content: space-between;
}
.introduce .content-bottom .introduce-col{
    width: 25%;
}
